body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}

/* 🔥 HIDE SCROLLBAR */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}